<div *ngIf="error.length > 0" class="row justify-content-center mt-4">
  <div class="alert alert-danger">
    <p class="m-0">{{error}}</p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-lg-4 offset-lg-4 col-md-10 offset-md-1 col-12 text-center">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="md-form mb-3">
        <input mdbInput [mdbValidation]="false" [(ngModel)]="model.email" #user="ngModel" type="text" id="email" name="email" class="form-control">
        <label for="email">Email address</label>
      </div>
      <div class="md-form mb-3">
        <input mdbInput [mdbValidation]="false" [(ngModel)]="model.pass" #password="ngModel" type="password" id="password" name="password" class="form-control">
        <label for="password">Password</label>
      </div>
      <button type="submit" mdbBtn class="btn-pws-primary">Login</button>
    </form>
  </div>
</div>